/* Global styles */
/* src/index.css */
@import './styles/tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  font-family: 'open sans', sans-serif;
  font-weight:700;
  background-color: #fff; /* Darker background color */
  color: #fff; /* Default text color */
}

.redText {
  color: #E2001A;
}